@model Lab5WebApp.Models.LabDataModel

<div style="margin-top:80px">
    <h2>Лабораторна робота 3</h2>
    <h3>Завдання:</h3>
    <p>
        Недавно Билл устроился на работу полицейским. Теперь ему предстоит каждый вечер обходить свой участок, который представляет собой прямоугольник, состоящий из N×M кварталов. Каждый квартал имеет вид квадрата размером 100 х 100 метров, кварталы отделены друг от друга прямыми улицами.
        Таким образом, через участок Билла проходит N+1 улица, идущая с запада на восток, и M+1 улица, идущая с севера на юг. Перекрестки разбивают улицы на (N+1)*M + (M+1)*N отрезков, каждый из которых имеет длину 100 метров.
        Совершая обход, Билл выходит из полицейского управления, расположенного около юго-западного угла его участка, обходит свой участок и возвращается в управление. Во время обхода Билл должен пройти по каждому отрезку улицы на территории своего участка как минимум один раз. Известно, что во время обхода Билл проходит отрезок длиной 100 метров за одну минуту. Выясните, какое минимальное число минут потребуется Биллу, чтобы совершить обход.
        Входные данные
        Входной файл INPUT.TXT содержит натуральные числа N и M, не превышающие 10 000.
        Выходные данные
        В выходной файл OUTPUT.TXT выведите минимальное время, за которое Билл может совершить обход.

    </p>
    
    <div>
        <h4>Приклад вхідних данних:</h4>
        <pre>4 3</pre>
        <h4>Приклад данних після роботи програми:</h4>
        <pre>38</pre>
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="Lab3" asp-action="Lab3">
        <div class="row">
            <div class="form-group container mt-2">
                <h4>Вхідні дані (шлях):</h4>
                <input id="inputText" class="form-control" type="text" asp-for="Input"></input>
                <h4>Вихідні дані (шлях):</h4>
                <input id="inputText" class="form-control" type="text" asp-for="Output"></input>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Виконати</button>
    </form>
    
</div>
